*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.main-container {
  max-width: 73.6rem;
  display: grid;
  background-color: hsl(0, 0%, 100%);
}
.main-container .result-container {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(252, 100%, 67%)), to(hsl(241, 81%, 54%)));
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 3.2rem 3.2rem;
}
.main-container .result-container .result-heading {
  padding: 2.4rem 0;
  color: hsl(241, 100%, 89%);
  font-size: 1.8rem;
  font-weight: 700;
}
.main-container .result-container .result-score {
  display: grid;
  place-content: center;
  width: 14rem;
  aspect-ratio: 1/1;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(hsla(256, 72%, 46%, 0.5)), to(hsla(241, 72%, 46%, 0)));
  background: linear-gradient(180deg, hsla(256, 72%, 46%, 0.5), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  color: rgba(200, 199, 255, 0.52);
  font-size: 1.6rem;
  font-weight: 700;
}
.main-container .result-container .result-score span {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 5.6rem;
  font-weight: 800;
}
.main-container .result-container .result-rate {
  padding: 2.4rem 0 0.8rem 0;
  color: hsl(0, 0%, 100%);
  font-size: 2.4rem;
  font-weight: 700;
}
.main-container .result-container .result-text {
  padding: 0 5.7rem 4rem;
  color: hsl(241, 100%, 89%);
  font-size: 1.6rem;
  font-weight: 500;
}
.main-container .summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.4rem 3rem 3rem 3rem;
}
.main-container .summary-container .summary-heading {
  color: hsl(224, 30%, 27%);
  font-size: 1.8rem;
  font-weight: 700;
}
.main-container .summary-container .summary-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.4rem 0;
  gap: 1.6rem;
}
.main-container .summary-container .summary-boxes .summary-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 1.2rem;
}
.main-container .summary-container .summary-boxes .summary-box img {
  margin-left: 1.6rem;
  margin-right: 1.2rem;
}
.main-container .summary-container .summary-boxes .summary-box .summary-number {
  margin-left: auto;
  margin-right: 1.6rem;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.main-container .summary-container .summary-boxes .summary-box .summary-number span {
  opacity: 0.5;
}
.main-container .summary-container .summary-boxes .summary-box-reaction {
  background: hsla(0, 100%, 67%, 0.05);
}
.main-container .summary-container .summary-boxes .summary-box-reaction .summary-text {
  color: hsl(0, 100%, 67%);
}
.main-container .summary-container .summary-boxes .summary-box-memory {
  background: hsla(39, 100%, 56%, 0.05);
}
.main-container .summary-container .summary-boxes .summary-box-memory .summary-text {
  color: hsl(39, 100%, 56%);
}
.main-container .summary-container .summary-boxes .summary-box-verbal {
  background: hsla(166, 100%, 37%, 0.05);
}
.main-container .summary-container .summary-boxes .summary-box-verbal .summary-text {
  color: hsl(166, 100%, 37%);
}
.main-container .summary-container .summary-boxes .summary-box-visual {
  background: hsla(234, 85%, 45%, 0.05);
}
.main-container .summary-container .summary-boxes .summary-box-visual .summary-text {
  color: hsl(234, 85%, 45%);
}
.main-container .summary-container .btn-summary {
  position: relative;
  border: none;
  background: hsl(224, 30%, 27%);
  height: 5.6rem;
  border-radius: 12.8rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 0;
}
.main-container .summary-container .btn-summary::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(252, 100%, 67%)), to(hsl(241, 81%, 54%)));
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 12.8rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: -1;
  opacity: 0;
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  .main-container {
    margin-inline: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3.2rem;
    -webkit-box-shadow: 0px 3rem 6rem rgba(61, 108, 236, 0.15);
            box-shadow: 0px 3rem 6rem rgba(61, 108, 236, 0.15);
  }
  .main-container .result-container {
    border-radius: 3.2rem;
  }
  .main-container .result-container .result-heading {
    padding: 3.8rem 0 0;
    font-size: 2.4rem;
  }
  .main-container .result-container .result-score {
    width: 20rem;
    margin-top: 3.5rem;
    font-size: 1.8rem;
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(256, 72%, 46%)), to(hsla(241, 72%, 46%, 0)));
    background: linear-gradient(180deg, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  }
  .main-container .result-container .result-score span {
    font-size: 7.2rem;
    color: hsl(0, 0%, 100%);
  }
  .main-container .result-container .result-rate {
    padding: 2.8rem 0 1.4rem 0;
    color: hsl(0, 0%, 100%);
    font-size: 3.2rem;
  }
  .main-container .result-container .result-text {
    padding: 0 5.4rem;
    font-size: 1.8rem;
  }
  .main-container .summary-container {
    padding: 3.8rem 4rem 4.6rem;
  }
  .main-container .summary-container .summary-heading {
    font-size: 2.4rem;
  }
  .main-container .summary-container .summary-boxes {
    margin: 2.8rem 0 4.1rem;
  }
  .main-container .summary-container .summary-boxes .summary-box {
    font-size: 1.8rem;
  }
  .main-container .summary-container .btn-summary:hover::before,
  .main-container .summary-container .btn-summary:active::before {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */